---
import "../styles/global.css";
import { Link } from "../components/Link";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Elloani Ross Pitogo | Software Engineer">
  <main>
    <h1>Hi. My name is <span>Elloani Ross Arcenal Pitogo</span></h1>
    <Link
      label="Contact me"
      href="https://www.linkedin.com/in/pitogoelloaniross/"
      client:load
    />
    <Button>View my CV</Button>
  </main>
</Layout>
