---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import projects from "@/content/projects.json";

import { Link } from "@/components/Link";
import { ProjectCard } from "./ProjectCard";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="projects" class="max-w-4xl mx-auto lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    {t("projects.title")}
  </h2>

  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    {t("projects.description")}
  </p>

  <ul
    class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7"
  >
    {
      projects.map((project) => (
        <li>
          <ProjectCard
            title={project.title}
            description={project.description}
            image={project.image}
            link={project.projectUrl}
          />
        </li>
      ))
    }
  </ul>

  <div class="flex items-center justify-center w-full py-5">
    <Link
      href="/projects"
      className="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-neutral-900 dark:bg-white dark:text-neutral-900 text-neutral-100 hover:border-neutral-700 border-neutral-900 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900 hover:no-underline"
    >
      {t("projects.cta")}
    </Link>
  </div>
</section>
